<div class="container" style="padding: 25px; box-sizing: border-box; margin:0">
    <h3 style="text-align: center;">How to Play</h3>
    <ul>
        <li>Guess the word in 6 tries.</li>
        <li>Tile colors change based on how close your guess is to the word.</li>
        <li>Spell the letters using <strong>LIBRAS</strong>.</li>
        <li>Words may contain repeated letters.</li>
        <li>The system detects signs through your camera.</li>
    </ul>
    <app-how-to-play></app-how-to-play>
    <p class="new-p">In addition to the <strong>LIBRAS</strong> signs, consider the following control signs:</p>
    <ul>
        <li><img style="width: 2.2em" src="../assets/signs/enviar.svg"> sends a guess (word).</li>
        <li><img style="width: 2.2em" src="../assets/signs/deletar.svg"> deletes a letter.</li>
    </ul>
    <p class="new-p">Below the camera, you can find a table with the signs.</p>
</div>