.board{
    user-select: none;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    
}

.hold {
    font-size: 7vh;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1em);
    grid-gap: 0.15em;
    margin: 5px;
    padding: 0
}

.tentative-row {
    display: grid;
    grid-template-columns: repeat(5, 1em);
    grid-gap: 0.15em;
    font-size: 1em;
    height: 1em;
    margin: 0;
    line-height: 0;
}

.letter-empty{
    background-color: transparent;
    border: 0.125em solid white;
    padding: 0; 
    align-items: center;
    outline: none;
}

.letter{
    background-color: transparent; 
    text-transform:uppercase;
    color: transparent !important;
    text-shadow: 0 0 0 white !important;
    font-size: 0.55em;
    animation: 0.15s ease-out 0s 1 normal none running type;
    aspect-ratio: 1;
    font-weight: 600;
    border-radius: 10%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    --happy-jump: 55%;
    cursor: pointer;
}



.letter-disabled {
    border-color: #949494;
    background-color: #212b38;
}

.form-control {
    line-height: 1.2!important;
}

.correct-letter {
    background-color: green;
}




.keyboard {
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
    padding: 0 0.5em 0.3em 0.5em;
    height: min(100em/2.15,25vh);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(32, 1fr);
    grid-gap: 0.25em;
    box-sizing: border-box;
}

.btn-custom {
    touch-action: manipulation;
    outline: none;
    background-color: #1b232e;
    grid-column: span 3;
    display: flex;
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
    font-weight: 500;
    cursor: pointer;
    border: none;
    color: #FAFAFF;
}

#kbd-A {
    grid-column: 2 / span 3;
}

#kbd-Z {
    grid-column: 3 / span 3;
}

#kbd-backspace {
    grid-column: 30 / span 3;
}

#kbd-enter {
    grid-column: 25 / span 8;
    font-size: 0.9em;
}


/* Styles for mobile screens (you can adjust the max-width as needed) */
@media (max-width: 767px) {

    .hold {
      grid-gap: 0.08em!important;
    }
  
    .board {
      height: 48vh!important;
    }
  
    .keyboard {
      height: min(46.511627907em, 16vh)!important;
      grid-gap: 0.1em!important;
    }
  
    .tentative-row {
      grid-gap: 0.08em;
    }
  }